<div  ng-controller="RedreamCtrl" class="row">
  <div id="gif-bg">
<img src="images/start.gif" id="gif-bg" style="height: 100%;">
  </div>
  <div class="col-sm-8 col-sm-offset-2">

    <div style="background: none;">
        
        <div class="text-center" >        
        <h2>REDRE#M</h2>
        <br></br>

      <a class="btn btn-1" href="#/recall"><h3>RECALL</h3></a>
      <a class="btn btn-1" href="#/refeel">
        <h3>Create New</h3>
      </a>
      <br>

    
    
            
        </div>
    </div>

  </div>
</div>

