<div ng-controller="RecallCtrl">

	<!-- Hamburger Menu -->
    <div id="main-wrapper" class="wrapper">
        <div class="menu-icon-container">
            <div class="menu-icon">
                <span class="bar1"></span>
                <span class="bar2"></span>
                <span class="bar3"></span>
            </div>
        </div>
        <!-- Navigation Menu -->
        <nav id="nav-menu">
            <div class="menu-list-container" style="margin-bottom: 30px;">
                <ul class="text-center" style="padding: 0px;">
                    <li><a href="#/redream">HOME</a></li>
                    <li><a href="#/refeel">NEW ENTRY</a></li>
                    <li><a style="color: #617590;"><b>RECALL</b></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Page Title -->
    <div class="text-center" style="margin= 0">
        <h1>RECALL</h1>
        <h5>Which dream do you want to recall?</h5>
    </div>

    <!-- Dream List -->
    <div class="container">
        <div class="content">
            <ul class="ca-menu">
                <li ng-repeat="item in items | orderBy:'text'">
                    <aid="dreamList">
                        <div class="ca-content">
                            <md-button class="btn md-tile-right" ng-click="deleteItem(item.id)" id="delete">x</md-button>
                            <h3 ng-click = "viewItem(item.id)" class="ca-main">{{item.name}}</h3>
                            <p class="ca-sub">{{item.theme}} Dream</p>
                            <p style="line-height: 0;">Dream symbols: <span ng-repeat="symbols in item.symbols" class="ca-sub">{{symbols + ' '}}</span></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
  <!--   
    <tr>
        <td id = "{{item.name}}" onclick="var y = getTheme(id)"width="100px">{{item.name}}</td>
            <td id = "{{item.theme}}" onclick="var x = getTheme(id)"width="100px">{{item.theme}}</td>
            <td ng-repeat="symbols in item.symbols"width="100px">{{symbols}}</td> -->
            <!-- <td width="150px">{{item.timeStamp}}</td> -->
<!--             <td>
                <md-button class="btn-primary" ng-click="deleteItem(item.id)">delete this shittttt</md-button>
            </td> 
        </tr> 
    </table> -->

 <script>
    (function(){
        var $mainWrapper = $("#main-wrapper");

        $('.menu-icon').click(function(){
            $(this).toggleClass('active');
            $mainWrapper.toggleClass('active');
            });
        })();

        $("#delete").click(function(){
            $("#dreamList").fadeOut(1600, complete);
        });
</script>